.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 74px);
}

.not-found__title {
  font-weight: 400;
  font-size: 140px;
  line-height: 1.21;
  margin: 0;
  margin-top: calc(47.2vh - 74px - 1.21*0.5em);
}

.not-found__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
  margin-top: 5px;
}

.not-found__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21px;
  text-align: center;
  margin: 184px 0 60px;
  border: 0;
  background-color: transparent;
  min-width: 42px;
  min-height: 17px;
}

@media (max-width: 767px) {

  .not-found__title {
    font-size: 80px;
  }

  .not-found__subtitle {
    font-size: 12px;
    margin-top: 10px;
  }

  .not-found__button {
    margin: auto 0 30px;
    font-size: 12px;
  }
}
