.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 74px;
}

.button {
  opacity: 1;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.link {
  opacity: 1;
}

.link:hover {
  cursor: pointer;
  opacity: 0.7;
}


