.logo {
  display: block;
  width: 38px;
  height: 38px;
  background-image: url('../../images/logo__COLOR_main-1.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
