.more-button {
  margin-top: 50px;
}

.more-button__button {
  height: 36px;
  width: 100%;
  background-color: #F9F9F9;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 0;
}
