.movies-card-list {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  gap: 32px 20px;
}

@media (max-width: 1279px) {
  .movies-card-list {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 36px 30px;
  }
}

@media (max-width: 767px) {
  .movies-card-list {
    margin-top: 50px;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
