.portfoljo {
  padding: 100px 70px 94px;
}

.portfoljo__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #A0A0A0;
  margin: 0;
}

.portfoljo__list {
  list-style: none;
  padding: 0;
  margin-top: 32px;
}

.portfoljo__list-link {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: -0.04em;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 89px;
}

.portfoljo__list-item:not(:last-child) {
  border-bottom: 1px solid #E8E8E8;
}

.portfoljo__list-arrow {
  background-image: url('../../../images/text__COLOR_font-main.svg');
  height: 17px;
  width: 17px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 4px 6px 0 0;
}

@media (max-width: 1279px) {
  .portfolio {
    padding: calc(((100vw - 768px) / (1280 - 768)) * (100 - 90) + 90px) calc(((100vw - 768px) / (1280 - 768)) * (70 - 50) + 50px) calc(((100vw - 768px) / (1280 - 768)) * (94 - 60) + 60px);
  }

  .portfoljo__list-link {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .portfolio {
    padding: calc(((100vw - 320px) / (768 - 320)) * (90 - 70) + 70px) calc(((100vw - 320px) / (768 - 320)) * (70 - 14) + 14px);
  }

  .portfoljo__title {
    font-size: calc(((100vw - 320px) / (768 - 320)) * (18 - 14) + 14px);
  }

  .portfoljo__list {
    margin-top: calc(((100vw - 320px) / (768 - 320)) * (32 - 22) + 22px);
  }

  .portfoljo__list-link {
    font-size: calc(((100vw - 320px) / (768 - 320)) * (28 - 18) + 18px);
    height: calc(((100vw - 320px) / (768 - 320)) * (89 - 89) + 67px);
  }

  .portfoljo__list-arrow {
    width: calc(((100vw - 320px) / (768 - 320)) * (17 - 11) + 11px);
    height: calc(((100vw - 320px) / (768 - 320)) * (17 - 11) + 11px);
  }
}
