.techs {
  padding: 100px 70px;
  background-color: #F5F5F5;
}

@media (max-width: 1279px) {
  .techs {
    padding: calc(((100vw - 768px) / (1280 - 768)) * (100 - 90) + 90px) calc(((100vw - 768px) / (1280 - 768)) * (70 - 50) + 50px);
  }
}

@media (max-width: 767px) {
  .techs {
    background-color: transparent;
    padding: calc(((100vw - 320px) / (768 - 320)) * (90 - 70) + 70px) calc(((100vw - 320px) / (768 - 320)) * (70 - 18) + 18px);
  }
}

.techs__about-title {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0;
  margin-top: 90px;
}

@media (max-width: 1279px) {
  .techs__about-title {
    margin-top: calc(((100vw - 768px) / (1280 - 768)) * (90 - 80) + 80px);
  }
}

@media (max-width: 767px) {
  .techs__about-title {
    margin-top: calc(((100vw - 320px) / (768 - 320)) * (80 - 60) + 60px);
    font-size: calc(((100vw - 320px) / (768 - 320)) * (50 - 30) + 30px);
  }
}

.techs__about-paragraph {
  max-width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 26px auto 0;
}

@media (max-width: 1279px) {
  .techs__about-paragraph {
    margin-top: calc(((100vw - 768px) / (1280 - 768)) * (26 - 22) + 22px);
    font-size: calc(((100vw - 768px) / (1280 - 768)) * (14 - 12) + 12px);
  }
}

@media (max-width: 767px) {
  .techs__about-paragraph {
    margin-top: calc(((100vw - 320px) / (768 - 320)) * (22 - 24) + 24px);
    font-size: 11px;
  }
}

.techs__list {
  margin: 0;
  margin-top: 99px;
  list-style: none;
  display: grid;
  justify-content: center;
  gap: 10px 10px;
  grid-template-columns: repeat(auto-fit, 90px);
  padding: 0;
}

@media (max-width: 1279px) {
  .techs__list {
    grid-template-columns: repeat(auto-fit, 84px);
    margin-top: calc(((100vw - 768px) / (1280 - 768)) * (99 - 83) + 83px);
  }
}

@media (max-width: 767px) {
  .techs__list {
    margin: calc(((100vw - 320px) / (768 - 320)) * (83 - 50) + 50px) 10px 0;
  }
}

.techs__tech {
  background-color: #E8E8E8;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: -0.04em;
  padding: calc(32px - 0.5em*1.43) 0;
}

@media (max-width: 1279px) {
  .techs__tech {
    font-size: 12px;
    padding: calc(30px - 0.5em*1.43) 0;
  }
}
