.nav-tab {
  margin: 151px auto 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 1279px) {
  .nav-tab {
    margin-top: calc(((100vw - 768px) / (1280 - 768)) * (150 - 314) + 314px);
  }
}

@media (max-width: 767px) {
  .nav-tab {
    margin-top: calc(((100vw - 320px) / (768 - 320)) * (314 - 212) + 212px);
    gap: calc(((100vw - 320px) / (768 - 320)) * (10 - 6) + 6px);
  }
}

.nav-tab__link {
  width: 96px;
  min-height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E8E8E8;
  border-radius: 10px;
  margin: 0;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .nav-tab__link {
    width: calc(((100vw - 320px) / (768 - 320)) * (96 - 82) + 82px);
    min-height: calc(((100vw - 320px) / (768 - 320)) * (36 - 26) + 26px);
    border-radius: calc(((100vw - 320px) / (768 - 320)) * (10 - 6) + 6px);
    font-size: calc(((100vw - 320px) / (768 - 320)) * (12 - 10) + 10px);
  }
}
