.footer {
  padding: 77px 70px 20px;
  margin-top: auto;
}

.footer__description {
  margin: 0;
  border-bottom: 1px solid #E8E8E8;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  color: #A0A0A0;
  padding-bottom: 20px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin-top: 16.5px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  margin-top: 3.5px;
}

.footer__menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.footer__link {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
}
