.search-form {
  padding-bottom: 10px;
}

.search-form__label {
  display: flex;
  position: relative;
}

.search-form__search-input {
  height: 46px;
  width: 100%;
  background-color: #F9F9F9;
  border-radius: 40px;
  border: none;
  padding: 0;
  padding-left: 22px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.31;
}

.search-form__search-button {
  width: 80px;
  height: 34px;
  background-color: #000000;
  border-radius: 48px;
  border: none;
  background-image: url("../../../images/search-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  padding: 6px 29px;
  position: absolute;
  top: 6px;
  right: 6px;
}

.search-form__switcher {
  margin-top: 41px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.search-form__switcher-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  margin: 0;
}

.search-form__line {
  margin-top: 69px;
  border-bottom: 1px solid #E8E8E8;
}
