.checkbox-label {
  position: relative;
  display: block;
  height: 20px;
  width: 36px;
}

.checkbox-input {
  display: none;
}

.checkbox-switcher {
  height: 20px;
  width: 36px;
  border-radius: 10px;
  background-color: #EBEBEB;
  position: absolute;
  top: 0;
  left: 0;
  transition: ease-out .3s;
}

.checkbox-inner {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #F5F5F5;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  transition: ease-out .3s;
}

.checkbox-input:checked + .checkbox-switcher {
  background-color: #2BE080;
}

.checkbox-input:checked ~ .checkbox-inner {
  transform: translateX(16px);
}
